# APP
.env
config/development/firebase.json
config/production/*

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# npm
node_modules
# package-lock.json # SHOULD BE COMMITTED # guarantee exact same version of every package
*.log
*.gz